.BarraTopo {
    color: white;
    display: flex;
    user-select: none;
    background: #414141;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    align-items: center;
    gap: 5px;
}

.BarraTopoText {
    width: 82.3%;
    margin-left: 10px;
}

.BarraTopo button {
    box-shadow: 2px 2px 0 2px #4b4b4b;
    border-width: 1px;
    border-color: #979797;
    background-color: #737373;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Rubik-Bold;
    /* color: #060014; */
    color: white;
}

.BarraTopo button:active {
    border: none;
    background-color: #4b4b4b;
}

.prods {
    height: 45vh;
}

.saborss {
    height: 45vh;
}

.shelf {
    display: flex;
    width: 100%;
    gap: 0.2%;
}

.create {
    width: 33.1%;
}

.edit {
    width: 33.1%;
}

.delete {
    width: 33.1%;
}

/*Tab Buttons*/

.TabButtons {
    display: flex;
    gap: 1px;
}

.TabButtons button {
    height: 6.1vh;
    background-color: #414141;
    border-width: 0px;
    color: white;
    border-radius: 6px 6px 0px 0px;
    font-size: 1.5rem;
    font-family: Rubik-Bold;
    width: 100%;
    transition: background-color 0.3s ease;
}

.TabButtons button.active {
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(202, 202, 202);
}

.TabButtons button:hover {
    border: none;
    color: rgb(255, 255, 255);
    background-color: #858585;
}

.TabButtons button.active:hover {
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
}

/*Tab contents*/

.TabContents{
    display: flex;
    background-color: rgb(201, 201, 201);
    width: 100%;
    height: 35vh
}

.PrCrContent {
    display: none;
    width: 100%;
}

.PrCrContent.show {
    display: block;
    user-select: none;
    align-items: center;
}

.PrEdContent {
    display: none;
    width: 100%;
}

.PrEdContent.show {
    display: block;
    user-select: none;
    align-items: center;
}

.PrDeContent {
    display: none;
    width: 100%;
}

.PrDeContent.show {
    display: block;
    user-select: none;
    align-items: center;
}

.SbCrContent {
    display: none;
    width: 100%;
}

.SbCrContent.show {
    display: block;
    user-select: none;
    align-items: center;
}

.SbEdContent {
    display: none;
    width: 100%;
}

.SbEdContent.show {
    display: block;
    user-select: none;
    align-items: center;
}

.SbDeContent {
    display: none;
    width: 100%;
}

.SbDeContent.show {
    display: block;
    user-select: none;
    align-items: center;
}

/*Inputs*/

.TabContents form{
    display: block;
    height: 100%;
    width: 100%;
}

.inputs {
    display: flex;
    margin-left: 3%;
    margin-right: 6%;
    margin-bottom: 3%;
}

.inputs h3 {
    width: 100px;
    margin-right: 6%;
}

.inputs input {
    font-size: 1.5rem;
    width: 400px;
}

.inputs input[type = checkbox] {
    width: 43px;
    height: 43px;
    margin: 0;
    align-self: center;
}

.inputs select {
    font-size: 1.5rem;
}

.inputsleft {
    margin-top: 3%;
    width: 100%;
    height: 70%;
    display: block;
}

.inputsbutt{
    display: flex;
    margin-left: 3%;
    align-items: center;
}

.inputsbutt button{
    box-shadow: 2px 2px 0 2px #4b4b4b;
    border-width: 1px;
    border-color: #979797;
    background-color: #737373;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Rubik-Bold;
    color: white;
}