body {
    min-height: 100vh;
    height: 100%;
    overflow-y: hidden;
  
    color: #fff;
    background: linear-gradient(to top right, #000000, #414141);
}

body button {
    box-shadow: 2px 2px 0 2px #4b4b4b;
    border-width: 1px;
    border-color: #979797;
    background-color: #737373;
    margin: 10px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Rubik-Bold;
    /* color: #060014; */
    color: white;
}

body button:active {
    border: none;
    background-color: #4b4b4b;
}

.barraTopo {
    display: flex;
    width: 98%;
    margin: 1%;
    margin-bottom: 0%;
    height: 8vh;
    align-items: center;
    background: linear-gradient(to bottom right, #919191, #414141);
    border-radius: 5px;
}

.BarraTopoLeft {
    display: flex;
    width: 20%;
    user-select: none;
}

.userInfo {
    width: 50%;
    display: flex;
    align-items: center;
    user-select: none;
}

.BarraTopoRight {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: right;
}

.BarraTopoLeft h1{
    margin-left: 2%;
}

.userInfo h3 {
    margin: 2%;
}

.Menu {
    display: flex;
    align-items: baseline;
}

/*Carrinho*/

.Cart {
    margin: 1%;
    width: 48vw;
    height: 87.5vh;
    background-color: #919191;
}

.CartTopo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
}

.CartTopo h3{
    margin-top: 1%;
    margin-bottom: 1%;
}

.CartContents {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    height: 75vh;
    background-color: #797979;
    overflow-y: scroll;
}

.CartContents h3 {
    margin: 0%;
}

.CartBott {
    display: flex;
    align-items: center;
    justify-content: right;
}

/*Items CARRINHO*/

.item {
    color: #000000;
    display: flex;
    margin: 1%;
    background-color: white;
    border-radius: 5px;
    height: 15vh;
    margin: 0.4%;
    width: 99.2%;
}

.item:hover {
    background-color: rgb(224, 224, 224);
}

.InfoBox {
    display: block;
    width: 89.6%;
    height: 96.2%;
    margin: 1%;
}

.itemInfo {
    display: block;
    width: 89.6%;
    height: 96.6%;
    margin: 0.2%;
}

.NomeBox {
    display: flex;
    height: 21%;
    width: 99.6%;
    margin: 0.2%;
    align-items: center;
    align-content: center;
}

.TamBox {
    display: flex;
    height: 21%;
    width: 99.6%;
    margin: 0.2%;
    align-items: center;
    align-content: center;
}

.SaborBox {
    display: flex;
    height: 21%;
    width: 99.6%;
    margin: 0.2%;
    align-items: center;
    align-content: center;
}

.PreçoBox {
    display: flex;
    height: 21%;
    width: 99.6%;
    margin: 0.2%;
    align-items: center;
    align-content: center;
}

/*Pedidos*/

.Peds {
    margin: 1%;
    width: 48vw;
    height: 87.5vh;
    background-color: #919191;
}

.PedsTopo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
}

.PedsTopo h3{
    margin-top: 1%;
    margin-bottom: 1%;
}

.PedsContents {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    height: 75vh;
    background-color: #797979;
    overflow-y: scroll;
}

.PedsContents h3 {
    margin: 0%;
}

/*Popups*/

.EnvPopup {
    width: 0%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0%;
    visibility: hidden;
}

.EnvPopup.show {
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41, 0.5);
    visibility: visible;
}

.DelPopup {
    width: 0%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0%;
    visibility: hidden;
}

.DelPopup.show {
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41, 0.5);
    visibility: visible;
}

.popMenu {
    display: block;
    border-radius: 7px;
    background-color: #616161;
    width: 40vw;
}

.popMenu h2 {
    width: 100%;
    text-align: center;
}

.popMenu h3 {
    width: 100%;
    text-align: center;
}

.popButts {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}